.header {
    text-align: center;
    margin-top: 15%;
    
}
.name {
    font-size: 4em;
    font-weight: 700;
}
.name .name-greet {
    font-size: .5em;
    font-weight: 300;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    font-weight: 600;
    margin-top: 2em;
}
.pulse:hover {
    animation: pulse-animate 1.5s infinite
}

@keyframes pulse-animate {
    0% {
        opacity: 1;
        
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
       
    }
}