.header {
    text-align: center;
    margin-top: 2%;
    
}
.resume {
    text-align: right;
    margin-right: 20px;
    margin-top: -10px;
    font-size: 1.5em;
    font-weight: 600;
}
.profile-pic {
    min-height:20em;
    max-width: 20em;
    border-radius: 100%;
    background-image: url(./IMG_0227.JPG);
    background-size: cover;
    background-position-x: right;
    margin:auto;
}
.name {
    font-size: 4em;
    font-weight: 700;
}
.name .name-greet {
    font-size: .5em;
    font-weight: 300;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    font-weight: 600;
    margin-top: 2em;
}
.pulse:hover {
    animation: pulse-animate 1.5s infinite
}
#active {
    color: dimgray;
}

@keyframes pulse-animate {
    0% {
        opacity: 1;
        
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
       
    }
}