.text-cont {
    margin-left: 10px;
    vertical-align: text-bottom;
    text-align: center;
    margin-top: 18%;
}
.card-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-tech {
    font-weight: 600;
}
.card {
    min-width: 400px;
    min-height: 250px;
    border-radius: 10px;
    transition: 1s;
    margin-bottom: 10%;
}
.card:hover {
    opacity: .5;
    transition: .5s;
}
.card-cont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5em;
    text-decoration: none;
    color: white;
    min-width: 400px;
    min-height: 250px;
}

